/PrimeraApp_DI1819/nbproject/private/
/JavaLibraryLeer/JavaLibraryLeer/nbproject/private/
/JavaLibraryLeer/JavaLibraryLeer/build/
/CorredoresConsola/build/
/JavaLibraryLeer/build/
/JavaLibraryLeer/dist/